<% content_for :title do %>
     Modificar especialidad
<% end %>

<section class="section container_wrapper">
     <div class="form">
          <div class="form__ctn">
               <div class="form__header">
                    <h1>Modificar especialidad</h1>
               </div>

               <%= render "form", speciality: @speciality, button_text: "Modificar especialidad" %>
          </div>
          
     </div>
</section>

